{include file="common/header" /}
	<!--关于我们内容-->	
	<div class="about">	
		<div class="title">{$detail.title}</div>
		<div class="content">
			<!--编辑内容-->
			<p style="color:#cccccc;font-size:16px;line-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;{$detail.content}</p></br>
			{volist name="$detail.images" id="img"}
				<p><img src="__ROOT__/public{$img}" /></p></br>
			{/volist}
			<p style="color:#cccccc;font-size:16px;line-height:30px;"><a href="{$detail.baidu_url}" style="color:red;font-size:20px">百度云链接点此处</a></p></br>
			<p style="color:#cccccc;font-size:16px;line-height:30px;font-size:20px;">百度云密码：{$detail.password}</p>
		</div>
	</div>
	<!--底部-->
	{include file="common/footer" /}
</div>
</body>
</html>