<div class="bottom">
		<div class="bottom-top">
			<div class="linker">
				<a class="abq" href="#"><img src="__STATIC__/images/xlweibo.gif" /></a>
				<a class="abq" href="#"><img src="__STATIC__/images/txweibo.gif" /></a>
				<a class="abq" href="#"><img src="__STATIC__/images/weixin.gif" /></a>
				<div class="liuy">
					<a href="message.html">
						<div class="tubiao"><img src="__STATIC__/images/liuy.gif" /></div>
						<div class="wenzi">联系我们</div>
						<div class="clearBoth"></div>
					</a>
				</div>
				<div class="clearBoth"></div>
			</div>
		</div>
		<div class="bottom-bot">Powered By 蓝软社区</div>
	</div>